.container-fluid {
  background-color: green;
}

.container {
  background-color: grey;
}

.current-info {
  height: 25vh;
}

.five-day-info {
  height: 35vh;
}

.low {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.high {
  background-color: red;
}
